#searchBar {
  border: 1px solid #000000;
  font-size: 16px;
  padding: 10px;
  outline: none;
  width: 250px;
}

#searchBtn {
  border: 1px solid #000000;
  font-size: 16px;
  padding: 10px;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

#searchBtn: hover {
  background: #000000;
  color:#ffffff;
}
